%table#user-table
  %thead
    %tr
      %th First Name
      %th Last Name
      %th SID
      %th Email
      %th Privilege
    %tbody
      - @users.each do |user|
        %tr
          - if (@active_user_button == 'sellers' or @active_user_button == 'managers')
            - if (@user.privilege_lvl > user.privilege_lvl) or (@admin_ids.include? user.id)
              %td= link_to_function user.first_name, "editUser(#{user.user_id})", class: "user-table-link"
              %td= link_to_function user.last_name, "editUser(#{user.user_id})", class: "user-table-link"
            - else
              %td= user.first_name
              %td= user.last_name
          - else
            - if (@user.privilege_lvl > user.privilege_lvl) or (@user.id == user.id)
              %td= link_to_function user.first_name, "editUser(#{user.id})", class: "user-table-link"
              %td= link_to_function user.last_name, "editUser(#{user.id})", class: "user-table-link"
            - else
              %td= user.first_name
              %td= user.last_name
          - if @user.privilege_lvl > 0
            %td= user.sid
          - else
            %td
          %td= user.email
          - if user.privilege_lvl==0
            %td= "None"
          - elsif user.privilege_lvl==1
            %td= "Seller"
          - else
            %td= "Manager"
