#users-panel.users-panel-expanded
  .table-container
    #info-container
      - if flash[:notice]
        :javascript
          showAlert("#{flash[:notice]}");
      - elsif flash[:warning]
        :javascript
          showAlert("#{flash[:warning]}");
    #users-buttons-container.buttons-container
      - if @user.privilege_lvl > 0
        = link_to 'All', users_path(:privilege=>nil), id: 'user-button-all', class: 'button button-red'
      = link_to 'Self', users_path(:privilege=>'self'), id: 'user-button-self', class: 'button button-red'
      = link_to 'Sellers', users_path(:privilege=>'admin'), id: 'user-button-sellers', class: 'button button-red'
      = link_to 'Managers', users_path(:privilege=>'superadmin'), id: 'user-button-managers', class: 'button button-red'
      :javascript
        makeButtonActive("user-button-#{@active_user_button}");
    #users-wrapper
      =render partial: "user_table"
    #pagination-wrapper
      =render partial: "pagination"
=render partial: "modal"