#new-user-container
  = form_tag users_path do
    = label :user, :first_name, 'First Name', class: "new-user-label"
    = text_field :user, :first_name, class: "new-user-input"

    = label :user, :last_name, 'Last Name', class: "new-user-label"
    = text_field :user, :last_name, class: "new-user-input"

    = label :user, :email, 'Email', class: "new-user-label"
    = text_field :user, :email, class: "new-user-input"

    = label :user, :sid, 'Student ID', class: "new-user-label"
    = text_field :user, :sid, class: "new-user-input"

    #buttons-container
      = submit_tag 'Sign Up', id: "new-user-add", class: "button button-blue"
      #new-user-cancel.button.button-red Cancel