#cart-panel.cart-panel-hidden
  #cart-title Cart
  = inline_svg "shop.svg", class: "cart-svg svg"
  #cart-info
    = label :transaction, :user, "User", class: "cart-label"
    = text_field :transaction, :user, class: "cart-input"
    = label :transaction, :purpose, "Comment", class: "cart-label"
    .comment-arrow
    = text_area :transaction, :purpose, class: "cart-textarea", cols: "18", rows: "2"
    = label :transaction, :items, 'Items', class: "cart-label"

  - unless @cart.cart_items.length == 0
    #cart-items
      - @cart.cart_items.each_with_index do |cart_item, index|
        .cart-item 
          = text_field "item#{index}", :quantity, value: cart_item.quantity, class: "cart-item-quantity"
          = label "item#{index}", :name, cart_item.name, class: "cart-item-name"
    #checkout-footer
      =link_to "Checkout", checkout_path(hash: session[:cart]), method: :post, id: "checkout-button"