%table#inventory-table{ data: {sort_by: @sort_by, sort_type: @sort_type} }
  %thead
    %tr
      %th.sorter#name
        %span Item
        = inline_svg "sort.svg", class: "sort-hide"
      %th.sorter#quantity
        %span Quantity
        = inline_svg "sort.svg", class: "sort-hide"
      %th.sorter#price
        %span Price
        = inline_svg "sort.svg", class: "sort-hide"
      %th.sorter#kind
        %span Kind
        = inline_svg "sort.svg", class: "sort-hide"
      %th.sorter#status
        %span Status
        = inline_svg "sort.svg", class: "sort-hide"
      %th.add-column Add
  %tbody
    - @items.each do |item|
      %tr
        %td= link_to_function item.name, "showItem(#{item.id})", class: "inventory-table-link"
        %td= item.quantity
        %td= item.price 
        %td= item.kind
        %td= item.status
        %td.add-column
          %a{ href: "#", id: "add-#{item.name.parameterize}", onclick: "updateCart(#{item.id});" }
            = inline_svg "plus.svg", class: "add-svg"