%table#inventory-table{ data-sort_type: @sort_type }
  %thead
    %tr
      %th.sorter#name
        %span Item
        = inline_svg "sort.svg", class: "sort-hide", id: "name-svg"
      %th.sorter#quantity
        %span Quantity
        = inline_svg "sort.svg", class: "sort-hide", id: "quantity-svg"
      %th.sorter#price
        %span Price
        = inline_svg "sort.svg", class: "sort-hide", id: "price-svg"
      %th.sorter#kind
        %span Kind
        = inline_svg "sort.svg", class: "sort-hide", id: "kind-svg"
      %th.sorter#status
        %span Status
        = inline_svg "sort.svg", class: "sort-hide", id: "status-svg"
      %th.add-column Add
  %tbody
    - @items.each do |item|
      %tr
        %td= link_to item.name, item_path(item)
        %td= item.quantity
        %td= item.price 
        %td= item.kind
        %td= item.status
        %td.add-column
          / =link_to add_item_path(:id => item.id), method: :post do
          %a{ href: "#", onclick: "updateCart(#{item.id});" }
            = inline_svg "plus.svg", class: "add-svg"