%table#inventory-table
  %thead
    %tr
      %th.title_header{class: ("hilite" if @sort_by == "name")}
        /= link_to "Item", items_path(:sort_by => "name"), :class => "sorter"
        %a.sorter{ href: "#", onclick: "sortInventory('name');" }
          %span Item
          = inline_svg "sort.svg", class: "sort-hide", id: "name"
      %th.title_header{class: ("hilite" if @sort_by == "quantity")}
        %a.sorter{ href: "#", onclick: "sortInventory('quantity');" } 
          %span Quantity
          = inline_svg "sort.svg", class: "sort-hide", id: "quantity"
      %th.title_header{class: ("hilite" if @sort_by == "price")}
        %a.sorter{ href: "#", onclick: "sortInventory('price');" } 
          %span Price
          = inline_svg "sort.svg", class: "sort-hide", id: "price"
      %th.title_header{class: ("hilite" if @sort_by == "kind")}
        %a.sorter{ href: "#", onclick: "sortInventory('kind');" } 
          %span Kind
          = inline_svg "sort.svg", class: "sort-hide", id: "kind"
      %th.title_header{class: ("hilite" if @sort_by == "status")}
        %a.sorter{ href: "#", onclick: "sortInventory('status');" } 
          %span Status
          = inline_svg "sort.svg", class: "sort-hide", id: "status"
      %th.add-column Add
  %tbody
    - @items.each do |item|
      %tr
        %td= link_to item.name, item_path(item)
        %td= item.quantity
        %td= item.price 
        %td= item.kind
        %td= item.status
        %td.add-column
          / =link_to add_item_path(:id => item.id), method: :post do
          %a{ href: "#", onclick: "updateCart(#{item.id});" }
            = inline_svg "plus.svg", class: "add-svg"