.table-container
  %input#search-bar{ :autofocus => true , :placeholder => "Search..."}
    = inline_svg "eye.svg", class: "eye-svg"
  #buttons-container
    = inline_svg "plus.svg", class: "plus-svg"

  %table#inventory-table
    %thead
      %tr
        %th Item
        %th Quantity
        %th Price
        %th Status
        %th Location
    %tbody
      - @items.each do |item|
        %tr
          %td= item.name 
          %td= item.price 
          %td= item.quantity
          %td= item.type
          %td= item.status
#modal
  #modal-overlay
  #modal-content
    #new-item-container
      = form_tag items_path do
        = label :item, :title, 'Name', class: "new-item-label"
        = text_field :item, 'title', class: "new-item-input"
        = label :item, :price, 'Price', class: "new-item-label"
        = text_field :movie, 'price', class: "new-item-input"
        = label :item, :quantity, 'Quantity', class: "new-item-label"
        = text_field :item, 'quantity', class: "new-item-input"
        = label :item, :status, 'Status', class: "new-item-label"
        = text_field :item, 'status', class: "new-item-input"
        = label :item, :type, 'Type', class: "new-item-label"
        = text_field :item, 'type', class: "new-item-input"
        #new-item-buttons-container
          #new-item-add.new-item-button Add
          #new-item-cancel.new-item-button Cancel
    