- if @currently_admin
  #items-panel.items-panel-expanded
    .table-container
      #info-container
        - if flash[:notice]
          / #notice.message= flash[:notice]
          :javascript
            showAlert("#{flash[:notice]}");
        - elsif flash[:warning]
          / #warning.message= flash[:warning]
          :javascript
            showAlert("#{flash[:warning]}");
      #search-bar-container.admin
        = render partial: "search_bar"
      #toolbar-container
        %a{ href: "#", id: "new-item-button" }
          = inline_svg "plus.svg", class: "plus-svg svg"
      #inventory-wrapper
        = render partial: "inventory_table"
      #pagination-wrapper
        = render partial: "pagination"
  = render partial: "modal"
  = render partial: "cart"
- else
  #items-panel.non-admin
    .table-container
      #info-container
        - if flash[:notice]
          / #notice.message= flash[:notice]
          :javascript
            showAlert("#{flash[:notice]}");
        - elsif flash[:warning]
          / #warning.message= flash[:warning]
          :javascript
            showAlert("#{flash[:warning]}");
      #search-bar-container
        = render partial: "search_bar"
      #inventory-wrapper
        = render partial: "inventory_table"
      #pagination-wrapper
        = render partial: "pagination"
  = render partial: "modal"