#show-container
	= form_tag update_item_path do
		#show-title Details about #{@item.name}
		= label :item, :name, 'Name', class: "attribute-label"
		= text_field :item, :name, value: @item.name, class: "attribute-value"

		= label :item, :price, 'Price', class: "attribute-label"
		= text_field :item, :price, value: @item.price, class: "attribute-value"

		= label :item, :quantity, 'Quantity', class: "attribute-label"
		= text_field :item, :quantity, value: @item.quantity, class: "attribute-value"

		= label :item, :status, 'Status', class: "attribute-label"
		= select :item, :status, @all_status.each {|t| [t.capitalize, t ] }, {}, {class: "new-item-input"}

		= label :item, :kind, 'Type', class: "attribute-label"
		= text_field :item, :kind, value: @item.kind, class: "attribute-value"

		#buttons-container
		= submit_tag 'Update', class: "button button-blue"
		= link_to 'Back', items_path, class: 'button button-red'