#show-container
  #show-title Details about #{@item.name}
  
  .attribute-label Price
  .attribute-value #{@item.price}
  
  .attribute-label Quantity
  .attribute-value #{@item.quantity}
  
  .attribute-label Kind
  .attribute-value #{@item.kind}
  
  .attribute-label Status
  .attribute-value #{@item.status}