%table#transaction-table{ data: {sort_trans_by: @sort_trans_by, sort_trans_type: @sort_trans_type} }
  %thead
    %tr
      %th.sorter#date
        %span Date
        = inline_svg "sort.svg", class: "sort-hide"
      %th.sorter#customer
        %span Customer
        = inline_svg "sort.svg", class: "sort-hide"
      %th.sorter#purpose
        %span Purpose
        = inline_svg "sort.svg", class: "sort-hide"
      %th{:class => "line_item_headers", :style => "visibility: visible;"} Item
      %th{:class => "line_item_headers", :style => "visibility: visible;"} Quantity
      %th{:class => "line_item_headers", :style => "visibility: visible;"} Action
  %tbody
    - @transactions.each do |transaction|
      %tr{:class =>'clickable_row'}
        %td
          .transaction-arrow
        %td= link_to transaction.created_at.strftime("%I:%M%P %m/%d/%Y "), transaction_path(transaction)
        - if transaction.user != nil
          %td= transaction.user.name()
        - else
          %td= "Unknown"
        %td= transaction.purpose
        %td
        %td
        %td
        - transaction.line_items.each do |line_item|
          %tr{:class=>'line_item_row', :style=>"display: none;"}
            %td
            %td
            %td
            %td
            %td= line_item.item.name
            %td= line_item.quantity
            %td= line_item.action
%div 
  Export Transactions:
  %button.download= link_to "CSV", transactions_path(format: "csv")
  %button.download= link_to "XLS", transactions_path(format: "xls")
%div 
  Export Balances:
  %button.download= link_to "CSV", '/transactions/balances.csv'
  %button.download= link_to "XLS", '/transactions/balances.xls'