#transaction-panel
  .table-container
    #info-container
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        @warning.message= flash[:warning]  
    #tsearch-bar-container
      = render partial: "tsearch_bar"  
    #transaction-table-wrapper
      = render partial: "transaction_table"
    #tpagination-wrapper
      = render partial: "tpagination"
    - if @currently_admin 
      #transactions-buttons-container.buttons-container
        = select_tag :type, options_for_select([['Transactions', (@type = 'Transactions')], ['Balances', (@type = 'Balances')]]), class: 'dropdown'
        = select_tag :file_ext, options_for_select([['CSV', (@file_ext = 'CSV')], ['XLS', (@file_ext = 'XLS')]]), class: 'dropdown'
        = link_to 'Export', export_path(type: @type, file_ext: @file_ext), class: 'button button-blue'