!!! 5
%html
  %head
    %title Maker Pass
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=latin,greek-ext' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #navbar
      #title Maker Pass
      #navbar-menu
        = link_to 'Inventory', items_path, id: 'inventory-menu', class: 'navbar-menu-item'
        #students-menu.navbar-menu-item Students
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield